version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: ../docker/Frontend.Dockerfile
    image: frontend
    ports:
      - "3000:3000"
    environment:
      APP_ENV_PREFIX: VIRGO_
      VIRGO_API_URL: http://localhost:8080
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    command: sh -c "npm install && npm start"

  backend:
    build:
      context: ./backend
      dockerfile: ../docker/Backend.Dockerfile
    image: backend
    ports:
      - "8080:8080"
      - "8081:8081"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
    depends_on:
      - db
    volumes:
      - ./backend:/app
    command: dotnet watch run --urls=http://+:8080

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: "YourStrong!Passw0rd"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - db_data:/var/opt/mssql

volumes:
  db_data:
